@page "/counter"
@using BlazorOrangePi.Data
@inject BlinkService blService

@if(blService.SonHata!=null)
{
    <div class="container">
        <div class="row alert alert-danger">
            <h5 class="mr-1">Hata!</h5>
            @blService.SonHata.ToString();
        </div>
    </div>
}


<p>İşlem Sayısı: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@(ledYandi ? "Söndür" : "Yak")</button>


@code {
    private int currentCount = 0;
    private bool ledYandi = false;


    private void IncrementCount()
    {
        currentCount++;
        blService.LedIslem();

    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.blService.OnPinDurumuDegisti += this.PinDegisti;
        ledYandi = blService.LedDurum;
        blService.SonHata = null;
    }

    private void PinDegisti(object sender, BlinkServiceChangedEventArgs e)
    {
        ledYandi = e.Durum;
        InvokeAsync(()=> {
            this.StateHasChanged();
        });
    }
}
