<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><b style="font-size:25px">Robosai</b> Otomasyon</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> DashBoard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-terminal" aria-hidden="true"></span> Led Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GpioPage">
                <span class="oi oi-check" aria-hidden="true"></span> Gpio Sayfası
            </NavLink>
        </li>
        <li>
            <partial action="/Areas/Identity/Shared/_loginPartial.cshtml"></partial>

        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
